//roboto-bold-24
$roboto-bold-24: 24px;
$roboto-bold-24-font-weight: bold;

//roboto-bold-20
$roboto-bold-20: 20px;
$roboto-bold-20-font-weight: bold;

//roboto-bold-16
$roboto-bold-16: 16px;
$roboto-bold-16-font-weight: bold;

//roboto-bold-14
$roboto-bold-14: 14px;
$roboto-bold-14-font-weight: bold;

//roboto-bold-14
$roboto-bold-14: 14px;
$roboto-bold-14-font-weight: bold;

//roboto-bold-16
$roboto-bold-16: 16px;
$roboto-bold-16-font-weight: bold;

//roboto-medium-14
$roboto-medium-14: 14px;
$roboto-medium-14-font-weight: normal;

//roboto-medio-12
$roboto-medio-12: 12px;
$roboto-medio-12-font-weight: normal;